@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "reset.css";

body {
	background-color: rgb(122, 131, 134);
	font-family: "Lato";
}

.page__container {
	max-width: 1300px;
	padding: 0px 15px 0px;
}

.search {
	margin-top: 50px;
}

.search._active .search__form, 
.search._active .search__counter{
	display: inline-block;
	font-family: "Lato";
}

.search__box {
	display: flex;
	gap: 10px;
}

.search__button {
	background-color: rgb(232, 131, 131);
	border-radius: 4px;
	width: 30px;
	height: 30px;
	position: relative;
}

.search__button::before {
	content: "";
	display: inline-block;
	background: url("../img/search.svg") center center no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 2px;
	left: 2px;
}

.search__form {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 0px 10px 0px;
	display: none;
}

.search__counter {
	display: none;
	font-family: "Lato";
	text-transform: lowercase;
	padding-left: 40px;
	font-size: 10px;
}


